export GOPATH="${HOME}/go"
export PYENV_ROOT="$HOME/.pyenv"
{{- if eq .chezmoi.os "darwin" }}
PATH_SYS=$PATH
{{- end }}
PATH=.:${HOME}/bin:${HOME}/.local/bin:$PYENV_ROOT/bin
PATH=${PATH}:${GOPATH}/bin
{{- if eq .chezmoi.os "darwin" }}
PY2BIN="/usr/local/opt/python@2/bin"
PY3BIN="/usr/local/opt/python/bin:/usr/local/opt/python/libexec/bin/"
PATH=${PATH}:${PY3BIN}:${PY2BIN}:${PATH_SYS}
{{- end }}
export PATH
HOSTNAME=$(hostname)
export HOSTNAME
OS=$(uname -s)
export OS
export EDITOR='vim'
export PAGER='less'
export MANPATH=/opt/local/man:/usr/local/share/man:/usr/man:/usr/share/man
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
