[color]
	ui = true
[status]
	showUntrackedFiles = no
[alias]
	st = status -s
	ci = commit
	co = checkout
	br = branch
	lo = log --pretty=oneline
	lp = log --pretty=oneline -p
	diffstat = diff --stat
[user]
	path = ~/.gitconfig.user
[diff]
	submodule = log
	tool = vimdiff
[push]
	default = current
[difftool]
	prompt = true
[commit]
	gpgsign = true
[github]
	oauth-token = "{{ (index (lastpass "private/github.com/oauth-token") 0).password }}"
	user = "{{ (index (lastpass "private/github.com/oauth-token") 0).username }}"
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[core]
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true