export PYENV_ROOT="$HOME/.pyenv"
PREPEND_PATH=.:${HOME}/bin:${HOME}/.local/bin:$HOME/.pyenv:${HOME}/go/bin:/usr/local/sbin
{{- if eq .chezmoi.os "darwin" }}
[ -x /usr/local/bin/brew ] && export HOMEBREW_PREFIX=$(/usr/local/bin/brew --prefix)
[ -x /opt/homebrew/bin/brew ] && export HOMEBREW_PREFIX=$(/opt/homebrew/bin/brew --prefix)
if [ -n "$HOMEBREW_PREFIX" ]; then
  PREPEND_PATH=${PREPEND_PATH}:${HOMEBREW_PREFIX}/python@3.10/bin
  PREPEND_PATH=${PREPEND_PATH}:${HOMEBREW_PREFIX}/net-snmp/bin
  PREPEND_PATH=${PREPEND_PATH}:${HOMEBREW_PREFIX}/net-snmp/sbin
fi
{{- end }}
PATH=${PREPEND_PATH}:${PATH}
export PATH
HOSTNAME=$(hostname)
export HOSTNAME
export EDITOR='vim'
export PAGER='less'
export MANPATH=/opt/local/man:/usr/local/share/man:/usr/man:/usr/share/man
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
