export PYENV_ROOT="$HOME/.pyenv"
PREPEND_PATH=.:${HOME}/bin:${HOME}/.local/bin:$HOME/.pyenv:${HOME}/go/bin:/usr/local/sbin
{{- if eq .chezmoi.os "darwin" }}
PREPEND_PATH=${PREPEND_PATH}:/usr/local/opt/python/bin
{{- end }}
PATH=${PREPEND_PATH}:${PATH}
export PATH
HOSTNAME=$(hostname)
export HOSTNAME
OS=$(uname -s)
export OS
export EDITOR='vim'
export PAGER='less'
export MANPATH=/opt/local/man:/usr/local/share/man:/usr/man:/usr/share/man
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
