# user
[include]
	path = ~/.gitconfig.user

[color]
	ui = true
[status]
	showUntrackedFiles = no
[alias]
	st = status -s
	ci = commit
	co = checkout
	br = branch
	lo = log --pretty=oneline
	lp = log --pretty=oneline -p --ext-diff
	di = diff
	dii = diff --no-ext-diff
	ds = diff --stat
	sh = show --ext-diff
[diff]
	submodule = log
	tool = vimdiff
	external = difft
[push]
	default = current
[difftool]
	prompt = true
	external = difft
[commit]
	gpgsign = true
[github]
	oauth-token = {{ onepasswordRead "op://Private/gh-oauth-token/password" | trim | quote }}
	user = {{ onepasswordRead "op://Private/gh-oauth-token/username" | trim | quote }}
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[core]
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- if (eq .chezmoi.os "darwin" ) }}
[gpg]
	program = /usr/local/bin/gpg
{{- end }}
