source "$HOME/.profile"
[[ $ZSH_EVAL_CONTEXT = "file" ]] && PROFILE_SOURCED=1 || PROFILE_SOURCED=0

{{- if eq .chezmoi.os "darwin" }}
# Setting PATH for Python 3.6
# The original version is saved in .zprofile.pysave
PATH="/Library/Frameworks/Python.framework/Versions/3.6/bin:${PATH}"
export PATH
{{- end }}
